@model List<Product>
@{
	ViewData["Title"] = "Men Category";
	Layout = "~/Views/Shared/_CategoryLayout.cshtml";
}

@section CategoryList {

	@if (Model != null && Model.Any())
	{
		@foreach (var product in Model)
		{
			<div class="product-item men">
				<div class="product discount product_filter">
					<div class="product_image">
						<img src="/../images/product_1.png" alt="">
					</div>
					<div class="favorite favorite_left"></div>
					<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
					<div class="product_info">
						<h6 class="product_name"><a href="single.html">Men T-Shirt (Black)</a></h6>
						<div class="product_price">$780.00<span>$980.00</span></div>
					</div>
				</div>
				<div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
			</div>

		}
	}
	else
	{
		<p>Không có sản phẩm nào.</p>
	}
}