<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="Url" value="http://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
		<add key="ReturnUrl" value="http://localhost:56266/Home/PaymentConfirm" />
		<add key="TmnCode" value="JITYBPC1" />
		<add key="HashSecret" value="UHPETABJAMBLLTBVQJICHJRGOIQCMDSR" />
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MyDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
	</system.web>
</configuration>